* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold-text {
  font-weight: bold;
  font-style: oblique;
  background: red;
  height: 50dvh;
  width: 300px;
  text-align: center;
}
/*
    format -- Bold text, italic, underlined, ---  Create in two blocks that have different
 */
/* .parent {
  height: 300px;
  background: black;
}

.child {
  height: 50%;
  background: greenyellow;
} */
